@using MudBlazor.Utilities

<div class="@Classname" style="@Style">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter] 
    public string Src { get; set; } = string.Empty;

    [Parameter] 
    public string Class { get; set; } = string.Empty;
    
    [Parameter]
    public bool Fixed { get; set; }
    
    [Parameter]
    public bool Light { get; set; }


    private int RgbCode => Light ? 255 : 0;

    private string Classname => new CssBuilder()
        .AddClass(Class)
        .ToString();
    
    private string Style => new StyleBuilder()
        .AddStyle("background-size", "cover")
        .AddStyle("background-position", "center center")
        .AddStyle("background-image", $"linear-gradient(rgba({RgbCode},{RgbCode},{RgbCode},0.7),rgba({RgbCode},{RgbCode},{RgbCode},0.7)), url('{Src}')")
        .AddStyle("background-attachment", "fixed", Fixed)
        .ToString();

}