@page "/services"


<div class="d-flex align-center flex-column gap-3" style="width: 100%">
    <div style="width: 75%">
        <MudText Typo="Typo.h3">Services</MudText>
        <MudText Typo="Typo.h6">Our boat cleaning services are tailored to maintain the pristine condition of your vessel, ensuring a spotless and sparkling appearance both inside and out. We utilize industry-leading techniques and environmentally friendly products to deliver a comprehensive cleaning experience.</MudText>
    </div>
</div>

<MudDivider Class="mt-4 mb-16" />

<div class="d-flex align-center flex-column gap-8" style="width: 100%">
    <MudPaper Class="pa-6 d-flex align-center flex-column" Width="100%" MaxWidth="700px" Elevation="1">
        <MudText Typo="Typo.h3" Align="Align.Center">Buffing</MudText>
        <MudDivider Class="px-4 mt-2 mb-8" />
        <div class="align-center" style="max-width: 400px">
            <MudText Typo="Typo.subtitle1" Align="Align.Center">Revitalize your boat's exterior with our buffing service. We employ top-tier buffing techniques, restoring your vessel's shine and luster. Say goodbye to oxidation, scratches, and dullness as we bring back that showroom-worthy gleam to your boat.</MudText>
        </div>
    </MudPaper>
    <MudPaper Class="pa-6 d-flex align-center flex-column" Width="100%" MaxWidth="700px" Elevation="1">
        <MudText Typo="Typo.h3" Align="Align.Center">Weekly & Biweekly Cleans</MudText>
        <MudDivider Class="px-4 mt-2 mb-8" />
        <div class="align-center" style="max-width: 400px">
            <MudText Typo="Typo.subtitle1" Align="Align.Center">Keep your boat ready for the water with our convenient and reliable periodic cleaning services. We understand the importance of regular upkeep, offering thorough interior and exterior cleanings that ensure an inviting boat every time you set sail.</MudText>
        </div>
    </MudPaper>
    <MudPaper Class="pa-6 d-flex align-center flex-column" Width="100%" MaxWidth="700px" Elevation="1">
        <MudText Typo="Typo.h3" Align="Align.Center">Bottom Paint</MudText>
        <MudDivider Class="px-4 mt-2 mb-8" />
        <div class="align-center" style="max-width: 400px">
            <MudText Typo="Typo.subtitle1" Align="Align.Center">Safeguard your boat against marine growth and corrosion with our meticulous bottom paint service. We apply high-quality, marine-grade paints to protect your vessel's hull, extending its life and maintaining peak performance on the water.</MudText>
        </div>
    </MudPaper>
</div>
